/* Reset de márgenes, relleno y box-sizing para todos los elementos */

*{
    box-sizing: border-box;
}
/* Comportamiento de desplazamiento suave en la página */
html{
    scroll-behavior: smooth;
}
/* Estilos para el cuerpo de la página */
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
/* Estilos para los encabezados */
h1{ font-size: 3.5em;} /* Tamaño de fuente más grande para el h1 */
h2{ font-size: 2.7em;} /* Tamaño de fuente para h2 */
h3{ font-size: 2em;} /* Tamaño de fuente para h3 */
p{ font-size: 1.25em;} /* Tamaño de fuente para los párrafos */
ul{ list-style: none;} /* Eliminamos los puntos de las listas */
li{ font-size: 1.25em;} /* Tamaño de fuente para los elementos de lista */
/* Estilos para los botones */
button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}
/* Efecto hover para los botones */
button:hover{
    background-color: rgb(101, 33, 165); /* Cambia el color al pasar el cursor */
}
/* Contenedor para centrar y limitar el ancho */
.container{
    max-width: 1400px;
    margin: auto;
}
/* Clase para cambiar color de texto a azulvioleta */
.color-acento{ color:blueviolet; }
/* Estilos para el encabezado */
header{
    background-color: rgb(245,245,245); /* Color de fondo del header */
    
}
/* Estilos para el logo dentro del header */
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}
/* Contenedor del header, con flexbox */
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Navegación dentro del header, con flexbox */
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
/* Estilo para los enlaces del header */
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
/* Estilo para los enlaces al pasar el cursor */
header a:hover{
    color: blueviolet;
}
/* Estilos para la sección hero (imagen de fondo) */
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/* Estilo para el texto h1 dentro de la sección hero */
#hero h1{
    color: white;
}
/* Estilo para el botón dentro de la sección hero */
#hero button{
    font-size: 1.75em;
}
/* Estilos para la sección 'Somos ProYa' */
#somos-proya .container{
    text-align: center;
    padding: 200px 12px;
}
/* Estilos para la sección de nuestros programas */
#nuestros-programas{
    background-color: rgb(30,30,30); /* Fondo oscuro */
    color: white;
    text-align: center;
}

#nuestros-programas .container{
    padding: 150px 12px;
}

#nuestros-programas h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-programas p{
    display: none; /* Ocultamos los párrafos */
}

#nuestros-programas .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}
/* Estilos específicos para las cartas (programas) */
.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("front-end.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("full-stack.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("python.jpg");

}
/* Estilos para la sección de características */
#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}
/* Estilos para la sección final */
#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}
/* Estilos para el pie de página */
footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/* Media Query para pantallas con un ancho mínimo de 850px */
@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #somos-proya .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-proya .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-proya h2{
        margin-top: 0px;
    }

    #somos-proya .img-container{
        background-image: url("somos-proya.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #nuestros-programas .programas{
        display: flex;
        justify-content: center;
    }

    #nuestros-programas p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-programas h2{
        font-size: 4em;
    }

    #nuestros-programas h3{
        margin-top: 0;
    }

    #nuestros-programas .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }
/* Cartas con imágenes de fondo recortadas */
    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("front-end-cropped.jpg");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("full-stack-cropped.jpg");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("python-cropped.jpg");

    }
/* Estilos para la sección de características con imagen de fondo */
    #caracteristicas{
        background-image: url("background-2.jpeg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #caracteristicas .container{
        text-align: initial; /* Alineación del texto al inicio */
    }

    #caracteristicas ul{
        margin-left: 100px; /* Separación del borde izquierdo */
    }
/* Ajuste del tamaño del título en la sección final */
    #final h2{
        font-size: 5em; 
    }
 /* Ajuste del tamaño del botón en la sección final */
    #final button{
        font-size: 2em;
    }
 /* Alineación del pie de página en pantallas grandes */
    footer .container{
        justify-content: flex-end;
    }
}
/* Media query adicional para pantallas aún más grandes */
@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px); /* Mueve la imagen más a la izquierda */
    }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Fondo del body para el formulario */
body {
   background: linear-gradient(black,rgb(53, 1, 53));
   background-repeat: no-repeat;
   height: 100vh;
   padding: 0;
   margin: 0;
   background-size: cover;
}
/* Contenedor del formulario */
.form-register {
  width: 400px;
  background: #24303c; /* Fondo gris oscuro */
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000; /* Sombra para efecto de profundidad */

}
/* Título del formulario */
.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
/* Campos de entrada */
.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5; /* Borde azul */
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}
/* Párrafo de texto (información) */
.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}
/* Enlaces dentro del formulario */
.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline; /* Subrayado al pasar el cursor */
}
/* Botón de enviar/registrarse */
.form-register .botons {
  width: 100%;
  background: #1f53c5; /* Azul fuerte */
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}